<h1>Editing Criterium</h1>

<%= render 'form', criterium: @criterium %>

<%= link_to 'Destroy', @criterium, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', admin_decision_path(@criterium.decision) %>
